@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-color: rgb(0, 0, 0);
  --text-color: rgb(70, 70, 70);
  --white-color: rgb(255, 255, 255);
  --primary-color: rgb(22, 24, 35);

  --default-background-color: rgb(200, 200, 200);
}

body {
  color: var(--text-color);
  background: var(--default-background-color);
}

/* Remove the arrows of the input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}